@import "../_variables.scss";
@import "bootstrap";

.nav_item{
    @extend .nav-item;
}

.navbar_collapse{
    @extend .collapse;
    @extend .navbar-collapse;
}

.navbar_nav{
    @extend .ml-auto;
    @media (min-width:992px){
        min-height: 55px;
        align-items: center;
    }
}

.navbar {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    width: calc(100% - 20px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    position: fixed!important;
    top: 0;
    left:0;
    z-index: 9999;
}


.navbar_brand {
    @extend .navbar-brand;
    font-weight: 800 !important;
    color: rgba(0,0,0,0.9)!important;
    &:hover{

    }
}

.nav_link {
    @extend .nav-link;
    color: rgba(0, 0, 0, 0.3) !important;
    transition: 0.3s all ease !important;
    font-weight: 700 !important;
    transition: 0.3s all ease;
    position: relative;
    width: fit-content;
    padding:8px!important;
    &::after {
        content: "";
        height: 3px;
        border-radius: 10%;
        width: 0;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: $default-gradient;
        transition: 0.3s all ease;
    }
    &:hover::after {
        left: 0;
        opacity: 1;
        width: 100%;
    }
    
}

.nav_link__active {
    @extend .nav_link;
    font-weight: 700 !important;
    background: $default-gradient;
    transition: 0.3s all ease !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
        width: 45px;
        height: 45px;
    }
    outline: none !important;
    border: none;
}
.line {
    fill: none;
    stroke: $black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    @extend .line;
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    @extend .line;
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    @extend .line;
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened {
    path:nth-child(1) {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    path:nth-child(2) {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }
    path:nth-child(3) {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
}
