@import "../variables";



.imgbox {
    display: flex;
    height: auto;
    justify-content: center;
    // width: 100%;
    @media only screen and (max-width: 790px) {
        margin-bottom: 50px;
    }
    img {
        // object-fit: contain;
        border-radius: 50%;
        // transform: translateY(-50px);
        height: 150px;
        width: 150px;
    }
    // -webkit-clip-path: url(#clip);
    // clip-path: url(#clip); 

}
