@import "../variables";

.education {
    padding-top: 20px;
}
.education__edu {
    width: 100%;
    padding: 10px 0px 10px 0px;
    span {
        color: $gray;
        float: right;
        @media only screen and (max-width: 790px) {
            width: 100%;
            display: block;
            float: none !important;
        }
    }
    display: block;
}
.education__divider {
    height: 1px;
    width: 100%;
    background-color: $medium-gray;
}
