@import "../variables";

.contactForm {
    width: 100%;
    @media (max-width: 770px) {
        > *{
            width: 100%!important;
        }
    }
}
.formBody {
    width: 500px;
    * {
        display: block;
        width: 100%;
    }
    input,
    textarea {
        padding: 7px 15px;
        background-color: $light-gray;
        margin-bottom: 20px;
        border: none;
        border-radius: 0.25rem;
    }
    label {
        padding: 5px 0px;
    }
}
