@import "../variables";

.header_container {
    height: calc(100vh - 100px);
    background: url("../images/wave.svg");
    background-size: cover;
    background-position: -900px 0px;
    background-repeat: no-repeat;
    padding: 180px 20px 0px 20px;
    @media (max-width: 770px) {
        flex-direction: column;
        align-content: space-between !important;
        padding-top: 100px;
    }
    box-sizing: border-box !important;
    > div {
        box-sizing: border-box !important;
    }
}
.header__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    img {
        width: 100%;
    }
    @media (max-width: 770px) {
        height: fit-content;
        justify-content: center;
        margin: 20px;
        img {
            width: 90%;
        }
    }
}
.header__text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    @media (max-width: 770px) {
        height: fit-content;
        justify-content: center;
    }
}
.header__text__inner {
    p {
        font-size: 2.5rem;
        margin: 0;
        @media only screen and (max-width: 670px) {
            font-size: 2rem !important;
        }
        @media only screen and (max-width: 390px) {
            font-size: 1.7rem !important;
        }
        @media only screen and (max-width: 350px) {
            font-size: 1.5rem !important;
        }
        span {
            font-weight: 800 !important;
            background: $default-gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.learn_more_container {
    height: fit-content;
    position: absolute !important;
    left: 0;
    bottom: 50px;
    @media (max-width: 770px) {
        bottom: 0px;
    }
}
.learn_more_btn {
    color: white !important;
    text-decoration: none !important;
    cursor: pointer;
    svg {
        transition: all ease 0.3s;
    }
    &:hover {
        svg {
            transform: rotateZ(90deg);
        }
    }
}

.socialButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    div {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        padding: 10px;
        transition: all ease 0.3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.1)!important;
        }
        border-radius: 10px!important;
    }

    div[name="facebook"] {
        background-color: #4267b2;
        &:hover{
            box-shadow: 0px 0px 10px #4267b2;
        }
    }

    div[name="medium"] {
        background-color: #000000;
        &:hover{
            box-shadow: 0px 0px 10px #000000;
        }
    }

    div[name="github"] {
        background-color: #211F1F;
        &:hover{
            box-shadow: 0px 0px 10px #211F1F;
        }
    }

    div[name="linkedin"] {
        background-color: #2867B2;
        &:hover{
            box-shadow: 0px 0px 10px #2867B2;
        }
    }

    div[name="telegram"] {
        background-color: #0088CC;
        &:hover{
            box-shadow: 0px 0px 10px #0088CC;
        }
    }

}
