@import "../variables";

.nav_link {
    color: rgba(0, 0, 0, 0.3) !important;
    transition: 0.3s all ease !important;
    font-weight: 700 !important;
    transition: 0.3s all ease;
    position: relative;
    width: fit-content;
    padding:8px!important;
    cursor: pointer!important;
    &::after {
        content: "";
        height: 3px;
        border-radius: 10%;
        width: 0;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: $default-gradient;
        transition: 0.3s all ease;
    }
    &:hover::after {
        left: 0;
        opacity: 1;
        width: 100%;
    }
    
}

.nav_link__active {
    font-weight: 700 !important;
    background: $default-gradient;
    transition: 0.3s all ease !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}