@import "../variables";

.resume{
    background: url('../images/wave-back.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


.education {
    padding-top: 20px;
}
.education__edu {
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        span:nth-child(1) {
            font-weight: 700;
        }
        span:nth-child(2) {
            color: $gray;
        }
        @media only screen and (max-width: 790px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    div:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    display: block;
}
.education__divider {
    height: 1px;
    width: 100%;
    background-color: $medium-gray;
}
