$purple: #8860d0;
$purple-light: #c1c8e4;

$purple-blue-middle: #718bdc;
$purple-blue-middle-1: #8ba0df;
$purple-blue-middle-2: #a8b6e2;
$purple-blue-middle-3: #ced5eb;

$blue: #5ab9ea;
$blue-dark: #5680e9;
$blue-darker: #374785;
$blue-light: #84ceeb;
$blue-lighter: #a8d0e6;

$black: #222222;

$default-gradient: linear-gradient(90deg, $blue, $purple-blue-middle, $purple);

$light-gray: #ededed;
$medium-gray:#949494;
$gray: rgb(100, 100, 100);
