.container{
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    font-weight: 500!important;
    line-height: 1.5!important;
    color: #212529;
    text-align: left;
    box-sizing: border-box!important;
}
